INCLUDE("tecsgen.cfg");

#include "app.h"

CRE_TSK(MAIN_TASK, { TA_ACT, 0, main_task, MAIN_PRIORITY, STACK_SIZE, NULL });
CRE_TSK(CONTROL_TASK, { TA_NULL, 0, control_task, CONTROL_PRIORITY, STACK_SIZE, NULL });
CRE_CYC(CONTROL_TASK_CYC, { TA_NULL, { TNFY_ACTTSK, CONTROL_TASK }, CONTROL_PERIOD, 0 });

CRE_MTX(CONTROL_MUTEX, { TA_CEILING, APP_HIGHEST_PRIORITY });
